<a href="https://colab.research.google.com/github/Aravin423/ad_assignments/blob/main/day_2_assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
my_list = [10, 20, 30, 40, 50]

first_element = my_list[0]
third_element = my_list[2]
last_element =  my_list[-1]
print("List:", my_list)
print("First element:", first_element)
print("Third element:", third_element)
print("Last element:", last_element)

List: [10, 20, 30, 40, 50]
First element: 10
Third element: 30
Last element: 50

In [3]:
my_tuple = (100, 200, 300, 400, 500)

second_element = my_tuple[1]
fourth_element = my_tuple[3]
print("Tuple:", my_tuple)
print("Second element:", second_element)
print("Fourth element:", fourth_element)

Tuple: (100, 200, 300, 400, 500)
Second element: 200
Fourth element: 400

In [4]:
my_dict = {
    "name": "Alice",
    "age": 25,
    "city": "New York",
    "job": "Engineer",
    "hobby": "Reading"
}

name = my_dict["name"]
age = my_dict["age"]
print("Name:", name)
print("Age:", age)

Name: Alice
Age: 25